{% extends 'user_data.html' %}

{% block friendlist %}

<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- {{ name }} -->
          <form action="{% url 'sentrequest' %}" method = "POST"></form>
          {% for friend in friends %}
            <tr>
                <td>
                    {{ friend.first_name }}
                </td>
                <td>
                    {{ friend.last_name }}
                </td>
                <td>
                    {% csrf_token %}
                    <input type="submit" name="sendrequest" value="Send Request" />     
                </td>
            </tr>
          {% endfor %}
        </form>
        </tbody>
      </table>

{% endblock %}