{% extends 'user_data.html' %}

{% block friendlist %}

<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- {{ name }} -->
          
          {% for friend in friends %}
          <form action="{% url 'sentrequest' friend.username %}" method = "POST">
            <tr>
                <td>
                    {{ friend.from_person.first_name }}
                </td>
                <td>
                    {{ friend.from_person.last_name }}
                </td>
                <td>
                    {{ friend.from_person.username }}
                </td>
                <td>
                    {% csrf_token %}
                    <input type="submit" name="sendrequest" value="Send Request" />     
                </td>
            </tr>
          </form>
          {% endfor %}
        
        </tbody>
      </table>

{% endblock %}