{% extends 'user_data.html' %}

{% block listview %}

<table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <!-- {{ name }} -->
          
          {% for friend in friends %}
          <!-- <form action="{% url 'sentrequest' friend.connected_to.username %}" method = "POST"> -->
            <tr>
                <td>
                    {% if friend.connected_to.username == current_user_name %}
                      {{ friend.person.first_name }}
                    {% else %}
                      {{ friend.connected_to.first_name }}
                    {% endif %}
                </td>
                <td>
                     {% if friend.connected_to.username == current_user_name %}
                      {{ friend.person.last_name }}
                    {% else %}
                      {{ friend.connected_to.last_name }}
                    {% endif %}
                </td>
                <td>
                     {% if friend.connected_to.username == current_user_name %}
                      {{ friend.person.username }}
                    {% else %}
                      {{ friend.connected_to.username }}
                    {% endif %}
                </td>
                <!-- <td>
                    {% csrf_token %}
                    <input type="submit" name="sendrequest" value="Send Request" />     
                </td> -->
            </tr>
          </form>
          {% endfor %}
        
        </tbody>
      </table>

{% endblock %}