{% extends 'base.html' %}

{% block content %}
<form method="POST", action="{% url 'create' %}">
    {% csrf_token %}
    <div class="container">

        <!-- <div class="form-row"> -->
          <div class="col-md-4 mb-3">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="email_id">Email Id</label>
            <div class="input-group">
              <input type="text" class="form-control" name="email_id" placeholder="Email Id" required>
            </div>
          </div>
          <div class="col-md-4 mb-3">
                <label for="pswd">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" name="pswd" placeholder="Password" required>
                </div>
          </div>
        <!-- </div> -->
        <!-- <div class="form-row"> -->
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" placeholder="City" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" placeholder="State" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" name="zip" placeholder="Zip" required>
          </div>
        <!-- </div> -->
        
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
{% endblock %}